.card{
    width: 300px;
    background-color: black;
    margin-left: 20px;
    align-items: center;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.card__input{
    padding: 20px;
    border: none;
    outline-width: 0;
    width: 50%;
    max-width: 200px;
    height: 30px;
    text-align: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 10px;
}

.card__textarea{
    padding: 20px;
    outline-width: 0;
    width: 50%;
    /* margin-left: 55px; */
    margin: auto;
    max-width: 200px;
    display: grid;
    text-align: center;
}

.card__link{
    padding: 10px;
    outline-width: 0;
    width: 56%;
    /* margin-left: 55px; */
    margin: auto;
    max-width: 200px;
    display: grid;
    text-align: center;
}

.card__show >h2{
    color: #fff;
}
.card__show >p{
    color: #fff;
}

.card__edit >button{
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin: auto;
    border-radius: 3px;
}

/* .card__show >button{
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    justify-content: space-between;
    max-width: 100px;
    border-radius: 3px;
    margin: auto;
} */

.cards__button >h3{
    color: rgb(224, 6, 17);

}
.cards__button >p{
    color: #fff;
}

.cards__button{
    width: 300px;
    background-color: black;
    margin-left: 20px;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

.button_delete{
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 3px;
}

.button_edit{
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}